* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--off-white);
}

.menu-container {
  width: 18%;
  height: 100vh;
  background-color: var(--blue-dark);
  color: var(--white);
  padding: 20px;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Espaço para o menu lateral fixo */
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  height: 100vh;
}

/* Responsividade para telas menores */
@media (max-width: 900px) {
  .main-container {
    margin-left: 0;
  }
}

.header-container {
  height: 80px;
  width: 100%;
  background-color: var(--blue-primary);
  color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.header-container-items {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
}

.header-item {
  cursor: pointer;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--off-white);
  padding: 20px;
  overflow-y: auto;
}

.title-container {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 20px;
}

.title-text {
  font-size: 24px;
  font-weight: bold;
  color: var(--blue-dark);
}

.dashboard-container {
  flex: 1;
  display: flex;
  gap: 30px;
  padding: 20px 0;
  padding-bottom: 40px;
}

.dashboard-item-1 {
  flex: 1;
  background-color: var(--brown);
  color: var(--white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--shadow);
}

.dashboard-item-2-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-item-2,
.dashboard-item-3 {
  flex: 1;
  background-color: var(--blue-primary);
  color: var(--white);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px var(--shadow);
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: var(--blue-primary);
  border-left: 2px solid var(--off-white);
  border-radius: 4px;
  margin-left: 10px;
}

.submenu-open {
  max-height: 200px; /* valor ajustável conforme o conteúdo */
}

.submenu-item {
  padding: 8px 12px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
}

.submenu-item:hover {
}
.menu-opcoes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}

.menu-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: var(--blue-primary);
}
.menu-container-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-item:hover {
}
